.container{
    margin-top: 15rem;
    background-color: #fff;
    display: block;
    height: 70vh;
    border-radius: 10px;
    width: 300px;
    max-width: 350px;
    overflow: hidden;
    position: relative;
}
.pattern{
    display: none;
}
.container::after{
    content: url(../images/bg-pattern-mobile.svg);
    width: 100%;
    left: 3rem;
    top: 0rem;
}
.cube{
    margin: auto;
    position: relative;
    width: 300px;
    max-width: 350px;
}
.cube::after{
    content: url(../images/illustration-woman-online-mobile.svg);
    width: 75%;
    top: -10rem;
    left: 3.5rem;
}
.faq{
    font-size: 1.5rem;
    height: 100%;
    outline: none;
    margin-top: 12rem;
    width: 100%;
    padding: 1rem 1rem ;
}  
 h1{
     text-align: center;
     margin: auto;
     margin-bottom: 1rem; 
     margin-top: 1rem;
 }
 details{
    padding-top: 1rem;
}
details p{
     width: 96%;
     font-size: 12px;
 }
summary{
    outline: none;
    width: 100%;
    padding: 0.8rem 0;
    font-size: 13px;
}
details[open] summary{
    font-weight: 400;   
}
summary::after{
     right: 1rem;
 }
 details[open] summary:after {
 transform: rotate(-180deg);
 transition: all .5s;
}
 hr{
     width: 96%;
 }