*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    margin: 0 auto;
    height: 100vh;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%))no-repeat center center/cover;
}
.container{
    margin: 10rem auto;
    background-color: #fff;
    display: flex;
    flex-flow: row-reverse;
    height: 70vh;
    border-radius: 10px;
    width: 850px;
    max-width: 900px;
    overflow: hidden;
    position: relative;
}
.pattern{
    content: url(../images/bg-pattern-desktop.svg);
    width: 100%;
    top: -24rem;
    left: -46rem;
    position: absolute;
}
.container::after{
    content: url(../images/illustration-woman-online-desktop.svg);
    overflow: hidden;
    width: 59%;
    position: absolute;
    top: 6rem;
    left: -8rem;
}
.cube{
    position: relative;
    width: 850px;
    max-width: 900px;
    margin: auto;
}
.cube::after{
    content: url(../images/illustration-box-desktop.svg);
    position: absolute;
    top:200px;
    left:-98px;
}
.faq{
    font-size: 1.5rem;
    overflow: hidden;
    display: block;
    width: 45%;
    margin: 8rem 0;
    height: 100%;
    outline: none;
}    
h1{
    margin-bottom: 1rem;
    font-weight: 700;
    color: hsl(238, 29%, 16%); 
}
details{
    padding-top: 2rem;
}
summary{
    list-style: none;
    cursor: pointer;
    position: relative;
    color: hsl(238, 29%, 16%); 
    font-weight: 400;
    outline: none;
}
summary::after{
    content: url(../images/icon-arrow-down.svg);
    position: absolute;
    right: 4rem;
    transform: scaleX(1);
}
 summary:hover {
    color: hsl(14, 88%, 65%);
    font-weight: 400;  
 }
details[open] summary{
    color: hsl(237, 12%, 33%);
    font-weight: 700;
}
details[open] summary:after {
 transform: rotate(180deg);
 transition: all .5s;
    
}
details p{
    padding: 0.7rem 0 0.7rem 0;
    color: hsl(240, 6%, 50%);
    font-size: 15px;
    width: 90%;
    line-height: 2rem;
}
hr{
    opacity: 35%;
    color: solid thin hsl(240, 5%, 91%);
    width: 90%;
}
